@import "tailwindcss";

@font-face {
  font-family: 'Handodle';
  src: url('/fonts/Handodle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-heading: 'Handodle', system-ui, sans-serif;
}

body {
  margin: 0;
  cursor: none;
}

*,
*::before,
*::after {
  cursor: none !important;
}
